/* 공통요소 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  box-sizing: border-box;
}

html {
  font-family: "Pretendard", acme, "Noto Sans KR", sans-serif;
  font-size: 62.5%;
}

:root {
  --lb-primary-color: #6d6afe;
  --lb-red: #ff5b56;
  --lb-black: #111322;
  --lb-white: #ffffff;
  --lb-sky-blue: #6ae3fe;
  --lb-gray100: #3e3e43;
  --lb-gray60: #9fa6b2;
  --lb-gray20: #ccd5e3;
  --lb-gray10: #e7effb;
  --lb-light-gray: #f5f5f5;
  --lb-background: #f0f6ff;
  --gra-primary-to-sky-blue: linear-gradient(
    91deg,
    var(--lb-primary-color) 0.12%,
    var(--lb-sky-blue) 101.84%
  );
}

/* 랜딩페이지 텍스트 그라데이션 */

.purplePinkGradation {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
} /*세상의 모든 정보*/

.redBlueGradation {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
} /*원하는 링크*/

.orangeBlueGradation {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
} /*관리*/

.blueWhiteGradation {
  background: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
} /*공유*/

.bluePinkGradation {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
} /*검색*/

/*랜딩 페이지 색상 팔레트 끝*/

body {
  background-color: var(--lb-background);
}

.default-btn {
  display: flex;
  color: var(--lb-light-gray);
  font-size: 1.8rem;
  font-weight: 600;
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  background: var(--gra-primary-to-sky-blue);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 100%;
}

button:hover {
  cursor: pointer;
}

.input-position-origin {
  display: flex;
  position: relative;
  align-items: center;
}

.background-decoration-color {
  background-color: var(--lb-background);
}
